*{
    box-sizing: border-box;
}
.head{
    font-family:'Playfair Display', serif;
}
body{
    background-image:url("./hd-wallpapers-design-home-page-wallpaper-professional-website-backgrounds-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navbar-brand{
    position: relative;
}
.navbar-brand::after{
    content: '';
    width: 0%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.4s;

}
.navbar-brand:hover::after{
    width: 100%;
}

.heading{
    margin-top: 30px;
    text-align: center;
    /* display: flex; */
    justify-content: space-between;
    /* align-self: flex-end; */
    color: white;
    font-family:'Playfair Display', serif ;
    font-weight: 500;
}
p{
    font-family: 'Bitter', serif;
    font-size: 15px;
    color: white;
}
h3{
    text-align:center;
    color: white;
     font-family: 'Times New Roman', Times, serif;
}
ul{
    font-family: 'Bitter', serif;
    font-size: 18px;
    color: white;   
}
.container{
    text-align: center;
}

footer {
    background-color: rgba(51, 51, 51, 0.908);
    overflow: hidden;
    height: 50px;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}